#titulo{
    margin-top: 1.5%;
    margin-left: 5%;
    width: 50%;
    float: left;
}
#voltar{
    display: block;
    float: right;
    padding: 4px;
    width: 4cm;
    border-bottom: 1px solid black;
    text-align: center;
    margin-right: 5%;
    font-size: 20px;
    text-decoration: none;
    color: black;
}#voltar:hover{
     background-color: #67b99a;
     border-radius: 10px 10px 0px 0px;
}
#fundo{
    width: 600px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    background-color: #78c6a3;
    box-shadow: 2px 2px 2px 2px black;
}